%article{:class => "col-sm-6 col-md-4 masonry_grid__item note #{note.colour.css_class if note.colour}"}
  .note__inner
    %h1.note__title= note.title
    .note__content= note.content
    = link_to t('views.notes.partials.note.edit_link'), edit_note_path(note),
      class: 'note__edit_link'
