/*=============================================

= Colors

=============================================*/
$black: black;
$cream: #F5F5F1;
$error_color: #E57373;
$light_grey: #eee;
$orange: #F68459;
$success_color: #4CAF50;
$turquoise: #8DD2D9;
$white: white;

// $primary: $brand-primary;
$primary: $orange;

/*=============================================
= Note colours
=============================================*/
$note_blue: rgb(128, 216, 255);
$note_green: rgb(204, 255, 144);
$note_grey: rgb(207, 216, 220);
$note_orange: rgb(255, 209, 128);
$note_red: rgb(255, 138, 128);
$note_teal: rgb(167, 255, 235);
$note_yellow: rgb(255, 255, 141);
