/*=============================================

= Colors

=============================================*/
$black: black;
$cream: #F5F5F1;
$error_color: #E57373;
$light_grey: #eee;
$orange: #F68459;
$success_color: #4CAF50;
$turquoise: #8DD2D9;
$white: white;

// $primary: $brand-primary;
$primary: $orange;
