%button.navbar-toggle.collapsed{type: 'button', 'data-toggle': 'collapse', 
  'data-target': '#account_dropdown', 'aria-expanded': 'false'}
  %span.sr-only
    Toggle navigation
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar

