%footer.site_footer
  .container
    %p
      = t('views.layouts.footer.content', 
        link: link_to('here', 'http://www.github.com/sajadtorkamani/rails-skeleton/issues',
        target: '_blank')).html_safe

